{% extends "base.html" %}
{% load i18n cms_tags thumbnail apphooks_config_tags %}

{% block title %}
    {{ article.title }} - {{ block.super }}
{% endblock %}

{% block fb_title %}{{ article.title }} - {{ block.super }}{% endblock %}
{% block fb_description %}{{ article.lead_in }}{% endblock %}
{% block fb_image %}{{ request.META.HTTP_HOST }}{{ article.featured_image.url }}{% endblock %}

{% block content %}
    <style>
        #header, #author {
            background-size: cover;
        }
    </style>

    <div class="row row-center fill-height bg-stable-light border-b-1 border-stable p-l-100-20">
        <div class="w-1000">
            <div class="card bg-light">
                <div>
                    {% thumbnail article.featured_image 0x1000 crop subject_location=article.featured_image.subject_location as thumb %}
                    <div class="w-100-p h-400 p-l-20-20" id="header" style="background-image: url({{ thumb.url }})">
                        <a href="{% namespace_url "article-list" %}">
                            <button class="btn-md btn-red rounded-3">
                                <span class="fa fa-caret-left m-l-0-10 m-right"></span>
                                <span>Tilbake</span>
                            </button>
                        </a>
                    </div>
                    {% thumbnail article.author.visual 150x150 crop subject_location=article.author.visual.subject_location as author_thumb %}
                    <div style="background-image: url({{ author_thumb.url }})" id="author" class="round round-md border-8 border-light right-shadow author"></div>
                </div>
                <div class="row p-l-80-60 p-top">
                    <div class="row"><p>{{ article.author.name }}</p></div>
                    <div class="row"><p>{{ article.publishing_date|date:"d F, Y" }}</p></div>
                    <div class="fb-share-button"
                        data-href="{{ request.build_absolute_uri }}"
                        data-layout="button_count">
                    </div>
                </div>
                <div class="p-l-0-60">
                    <h1>{% render_model article "title" %}</h1>
                    <div>
                        <i>{% render_model article "lead_in" %}</i>
                    </div>
                    <div class="p-l-10-0">
                        {% render_placeholder article.content language placeholder_language %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}


