{% extends "base.html" %}
{% load i18n apphooks_config_tags cms_tags sekizai_tags staticfiles thumbnail %}

{% block content %}
    <style>
        .article-text {
            height: 220px;
        }
    </style>

{% with css_selector='#header' %}
    {% placeholder 'header-background' %}
{% endwith %}

    {% if article_list.0 %}
    <div id class="row row-center row-center-v cover-6 cover-black p-l-20-20 h-600 bg-image" style="background-image: url({{ article_list.0.featured_image.url  }})">
        <a href="{{ article_list.0.get_absolute_url }}">
            <div class="w-600 t-center color-light border-9 border-light p-l-40-40 header-container">
                <div class="row row-center p-l-20-0">
                    <div class="c-m-12">
                        <h4 class="t-upper t-300">Siste innlegg:</h4>
                        <h1 class="t-300">{% render_model article_list.0 "title" "" "" "striptags" %}</h1>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% else %}
    <div id="header" class="row row-center row-center-v cover-6 cover-black p-l-20-20 h-600 bg-image">
        <div class="w-600 t-center color-light border-9 border-light p-l-40-40 header-container">
            <div class="row row-center p-l-20-0">
                <div class="c-m-12">
                    <h4 class="t-upper t-300">Siste innlegg:</h4>
                    <h1 class="t-300">Ingen innlegg :(</h1>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row row-center bg-stable-light border-b-1 border-stable p-l-40-20">
        <div class="w-1200">
            <div class="row row-center">
                {% for article in article_list %}
                    <a href="{{ article.get_absolute_url }}">
                        <div class="w-380 bg-light card m-l-10-10">
                            <div id="blog-image" class="w-100-p h-150 bg-image">
                                <img width="380" height="150" src="{% thumbnail article.featured_image 760x300 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
                            </div>
                            <div class="article-text p-l-20-20 border-b-1 border-stable">
                                <h5>{% render_model article "title" %}</h5>
                                <p><small>Skrevet av: {{ article.author.name }}</small></p>
                                <p class="m-l-20-0 m-bottom"><small>Publisert: {{ article.publishing_date|date:"F d, Y" }}</small></p>
                                <p class="fs-12">{% render_model article "lead_in" "" "" "truncatewords:'30'|striptags" %}</p>
                            </div>
                            <div class="p-l-15-10 t-center fs-14">
                                <span class="fa fa-facebook m-l-0-20 color-stable social-hover"></span>
                                <span class="fa fa-twitter m-l-0-20 color-stable social-hover"></span>
                                <span class="fa fa-linkedin m-l-0-20 color-stable social-hover"></span>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    <p>{% trans "No items available" %}</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
