{% extends "with-header.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block more-content %}

    <div class="row row-center border-b-1 border-stable bg-stable-light p-l-100-20 p-s-40-20">
        <div class="w-1200">
            <div class="row row-center-v">
                <div class="c-m-12 p-l-20-20">
                    <h3>{% placeholder 'first-header' %}</h3>
                    <p class="fs-14">{% placeholder 'first-content' %}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-center border-b-1 border-stable p-l-100-20 p-s-40-20">
        <div class="w-1200">
            <div class="row row-center-v">
                <div class="c-m-12 p-l-20-20 t-center">
                    <h4>{% placeholder 'second-header' %}</h4>
                    <p class="fs-14">{% placeholder 'second-content' %}</p>
                </div>
            </div>
            <div class="row row-center-v p-l-40-100 p-s-20-20">
                <div class="c-m-3 t-center">
                    <a href="https://www.facebook.com/kordedigital/" target="_blank">
                        <h2><span class="fa fa-facebook"></span></h2>
                    </a>
                </div>
                <div class="c-m-3 t-center">
                    <a href="https://www.instagram.com/korde_as/" target="_blank">
                        <h2><span class="fa fa-instagram"></span></h2>
                    </a>

                </div>
                <div class="c-m-3 t-center">
                    <a href="https://www.linkedin.com/company/korde" target="_blank">
                        <h2><span class="fa fa-linkedin"></span></h2>
                    </a>
                </div>
                <div class="c-m-3 t-center">
                    <a href="https://twitter.com/Korde_AS" target="_blank">
                        <h2><span class="fa fa-twitter"></span></h2>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock more-content %}