{% extends "with-header.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block more-content %}

    <div class="row row-center p-l-120-20">
        <div class="w-600">
            <h3 class="t-center t-300">Kontaktskjema</h3>
            <form class="fs-16">
                <input type="text" class="input input-bottom-red m-l-15-0" placeholder="Ditt navn">
                <div class="row">
                    <div class="c-m-6 p-l-0-10 p-right p-s-0-0">
                        <input type="text" class="input input-bottom-red m-l-15-0" placeholder="Din bedrift">
                    </div>
                    <div class="c-m-6 p-l-0-10 p-left p-s-0-0">
                        <input type="text" class="input input-bottom-red m-l-15-0" placeholder="Din epost">
                    </div>
                </div>
                <textarea class="textarea input-bottom-red m-l-15-0 h-140" placeholder="Skriv din melding her"></textarea>
                <div class="t-right">
                    <button class="btn-md btn-light hover-button rounded-3">
                        <span class="color-red">Send inn</span>
                        <span class="fa fa-arrow-right color-red m-l-0-10 m-left"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock more-content %}