{% extends "base.html" %}
{% load cms_tags %}

{% block content %}

    <div class="row row-center p-l-120-20 p-top t-center">
        <h2 class="t-300">La oss skape noe <span class="header-font fs-20 color-red">fantastisk</span> sammen</h2>
    </div>
    <div class="row row-center p-l-40-20">
        <div class="w-600">
            <h3 class="t-center t-300">Ta kontakt</h3>
            <form class="fs-16">
                <input type="text" class="input input-bottom-red m-l-15-0" placeholder="Ditt navn">
                <div class="row">
                    <div class="c-m-6 p-l-0-10 p-right p-s-0-0">
                        <input type="text" class="input input-bottom-red m-l-15-0" placeholder="Din bedrift">
                    </div>
                    <div class="c-m-6 p-l-0-10 p-left p-s-0-0">
                        <input type="text" class="input input-bottom-red m-l-15-0" placeholder="Din epost">
                    </div>
                </div>
                <textarea class="textarea input-bottom-red m-l-15-0 h-140" placeholder="Skriv din melding her"></textarea>
                <div class="t-right">

                </div>
            </form>
        </div>
    </div>

{% endblock content %}