{% extends "with-header.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block more-content %}

    <div class="row row-center-v border-b-1 border-stable bg-stable-light">
        <div class="c-m-6 p-l-60-60 p-s-20-20">
            <div class="row row-end">
                <div class="w-600">
                    <h3 class="t-300">Rystad Energy</h3>
                    <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam et sapien faucibus commodo. Maecenas sed pulvinar est. Aliquam volutpat nisl ornare arcu lacinia, sed malesuada est hendrerit. In eget dui id ipsum vehicula dictum ac et enim. Mauris et turpis tempor, rutrum elit sit amet, vehicula felis.</p>
                    <div class="t-right p-l-20-20">
                        <button class="btn-md btn-border-red btn-round">
                            <span>Les mer</span>
                            <span class="fa fa-caret-right m-l-0-10 m-left"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-m-6 img-container t-center">
            {% placeholder 'rystad-image' %}
        </div>
    </div>

    <div class="row row-center-v mojob-bg p-l-100-20">
        <div class="c-m-6 img-container t-center">
            {% placeholder 'mojob-image' %}
        </div>
        <div class="c-m-6 p-l-60-60 p-s-20-20">
            <div class="row">
                <div class="w-600">
                    <h3 class="t-300">Mojob</h3>
                    <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam et sapien faucibus commodo. Maecenas sed pulvinar est. Aliquam volutpat nisl ornare arcu lacinia, sed malesuada est hendrerit. In eget dui id ipsum vehicula dictum ac et enim. Mauris et turpis tempor, rutrum elit sit amet, vehicula felis.</p>
                    <div class="t-right p-l-20-20">
                        <button class="btn-md btn-border-light btn-round">
                            <span>Les mer</span>
                            <span class="fa fa-caret-right m-l-0-10 m-left"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-center-v border-b-1 border-stable bg-stable-light p-l-60-20">
        <div class="c-m-6 p-l-60-60 p-s-20-20">
            <div class="row row-end">
                <div class="w-600">
                    <h3 class="t-300">CVideo</h3>
                    <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam et sapien faucibus commodo. Maecenas sed pulvinar est. Aliquam volutpat nisl ornare arcu lacinia, sed malesuada est hendrerit. In eget dui id ipsum vehicula dictum ac et enim. Mauris et turpis tempor, rutrum elit sit amet, vehicula felis.</p>
                    <div class="t-right p-l-20-20">
                        <button class="btn-md btn-border-primary btn-round">
                            <span>Les mer</span>
                            <span class="fa fa-caret-right m-l-0-10 m-left"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-m-6 img-container t-center">
            {% placeholder 'cvideo-image' %}
        </div>
    </div>

    <div class="row row-center-v jobbr-bg p-l-100-20">
        <div class="c-m-6 img-container t-center">
            {% placeholder 'jobbr-image' %}
        </div>
        <div class="c-m-6 p-l-60-60 p-s-20-20">
            <div class="row">
                <div class="w-600">
                    <h3 class="t-300">Jobbr</h3>
                    <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam et sapien faucibus commodo. Maecenas sed pulvinar est. Aliquam volutpat nisl ornare arcu lacinia, sed malesuada est hendrerit. In eget dui id ipsum vehicula dictum ac et enim. Mauris et turpis tempor, rutrum elit sit amet, vehicula felis.</p>
                    <div class="t-right p-l-20-20">
                        <button class="btn-md btn-border-light btn-round">
                            <span>Les mer</span>
                            <span class="fa fa-caret-right m-l-0-10 m-left"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock more-content %}