{% extends "with-header.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block more-content %}

    <div class="row row-center-v border-b-1 border-stable bg-stable-light">
        <div class="c-m-6 p-l-60-60 p-s-20-20">
            <div class="row row-end">
                <div class="w-600">
                    <h3 class="t-300">{% placeholder 'customer-1-title' %}</h3>
                    <p class="fs-14">{% placeholder 'customer-1-description' %}</p>
                    <div class="t-right p-l-20-20">
                        {% placeholder 'customer-1-link'%}
                    </div>
                </div>
            </div>
        </div>
        <div class="c-m-6 img-container t-center">
            {% placeholder 'customer-1-image' %}
        </div>
    </div>

    <div class="row row-center-v mojob-bg p-l-100-20">
        <div class="c-m-6 img-container t-center">
            {% placeholder 'customer-2-image' %}
        </div>
        <div class="c-m-6 p-l-60-60 p-s-20-20">
            <div class="row">
                <div class="w-600">
                    <h3 class="t-300">{% placeholder 'customer-2-title' %}</h3>
                    <p class="fs-14">{% placeholder 'customer-2-description' %}</p>
                    <div class="t-right p-l-20-20">
                        {% placeholder 'customer-2-link'%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-center-v border-b-1 border-stable bg-stable-light p-l-60-20">
        <div class="c-m-6 p-l-60-60 p-s-20-20">
            <div class="row row-end">
                <div class="w-600">
                    <h3 class="t-300">{% placeholder 'customer-3-title' %}</h3>
                    <p class="fs-14">{% placeholder 'customer-3-description' %}</p>
                    <div class="t-right p-l-20-20">
                        {% placeholder 'customer-3-link'%}
                    </div>
                </div>
            </div>
        </div>
        <div class="c-m-6 img-container t-center">
            {% placeholder 'customer-3-image' %}
        </div>
    </div>

{% endblock more-content %}