{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

{% with css_selector='#header' %}
    {% placeholder 'header-background' %}
{% endwith %}

<div id="header" class="row row-center row-center-v h-400 bg-image">

    <div class="row row-center row-center-v h-full p-l-20-20 fs-14">
        <div class="w-1000 p-l-20-0">
            {% placeholder fourth %}
        </div>
    </div>
</div>
{% endblock content %}
