{% extends "base.html" %}
{% load cms_tags %}

{% block content %}

{% with css_selector='#header' %}
    {% placeholder 'header-background' %}
{% endwith %}

    <div id="header" class="row row-center row-center-v cover-4 cover-black p-l-20-20 h-600 bg-image">
        <div class="w-600 t-center color-light border-9 border-light p-l-40-40 header-container">

            <div class="row row-center p-l-20-0">
                <div class="c-m-12">
                    <h4 class="t-upper t-300">{% placeholder 'small-header' %}</h4>
                    <h1 class="t-300">{% placeholder 'large-header' %}</h1>
                </div>
            </div>

        </div>
    </div>

    {% block more-content %}{% endblock more-content %}

{% endblock content %}